<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="/static/js/payment.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js?1" defer></script>
    <script src="/static/js/def_html.js?1" defer></script>
    <script src="/static/js/spa_views.js?1" defer></script>
    <script src="/static/js/panel_requests.js?1" defer></script>
    <link rel="stylesheet" href="/static/css/base.css?1">
    <link rel="stylesheet" href="/static/css/loader_anim.css?1">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/info_view.css">
    <link rel="stylesheet" href="/static/css/operations_view.css">
    <link rel="stylesheet" href="/static/css/tarif_view.css">
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
</head>
<body>
    <script>
        window.onload = function() {
            console.log('0');
        }
    </script>
    <!-- <h1>Login SUCCESS</h1>
    <a href="/logout">Выйти</a> -->

    <div class="header">
        <label class="header-onnet">ONNET</label>
        <label class="header-lk">личный<br>кабинет</label>
        
        <a href="/logout">Выйти
            <img src="/static/images/exit.svg" alt="exit">
        </a>
    </div>
    <div class="header-pass"></div>
    <div class="main">
        <div class="content">
            <div class="panel">
                <a class="panel__a" href="javascript: routeRequest('/user', 'a-info')" id="a-info">Информация</a>
                <a class="panel__a" href="javascript: routeRequest('/operations', 'a-operations')" id="a-operations">История операций</a>
                <a class="panel__a" href="javascript: routeRequest('/tarif', 'a-tarif')" id="a-tarif">Тарифы</a>
                <a class="panel__a" href="javascript: routeRequest('/payment', 'a-payment')" id="a-payment">Оплата</a>
                <a class="panel__a" href="javascript: routeRequest('/phone', 'a-sms')" id="a-sms">SMS-напоминания</a>
                <a class="panel__a" href="javascript: routeRequest('/control', 'a-payment')" id="a-payment">Услуги</a>
            </div>
            <div class="view-content">
                <div class="label-content">Профиль абонента</div>
                <table class="info-table">
                    <thead></thead>
                    <tbody class="tbody-list">
                        <tr>
                            <td class="td-name">Название:</td>
                            <td class="td-info">Информация</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>