<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    
    <form action="/login" method="post">
        <div style="display: block;">
            <label for="">Логин:</label>
            <input type="text" name="login" id="" autocomplete="off">
        </div>
        <div style="display: block;">
            <label for="">Логин:</label>
            <input type="password" name="passw" id="" autocomplete="off">
        </div>
        {% if login_failed %}
            <div style="color: brown;">Неверное имя пользователя или пароль</div>
        {% endif %}
        <div>
            <input type="submit" text="Войти">
        </div>
    </form>

</body>
</html>