<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/auth.css">
  </head>
  <body>
    <div class="main">
      <div class="auth">
        <div class="header">
          <label class="main-label">ONNET.RU</label>
        </div>

        <div class="content">
          <label class="lk-label">Личный кабинет</label>
          <div class="lk-login">
            <img src="">
            <input type="text" name="" id="">
          </div>
          <div class="lk-passw">
            <img src="">
            <input type="text" name="" id="">
          </div>
        </div>
        
        <div class="footer">
          <a href="">Войти</a>
        </div>
      </div>
    </div>

  </body>
</html>